@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			interpolate-size: allow-keywords;
		}
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-inline-size: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
		word-spacing: inherit;
		letter-spacing: inherit;
		color: currentColor;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		overflow-wrap: break-word;
		hyphens: auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}

	#app,
	#root,
	#__next {
		isolation: isolate;
	}
}
